<div class="flex items-center justify-between mb-3">
  <div class="flex items-center gap-3">
    <p-button
      [severity]="tab.value === activeTab ? 'primary' : 'secondary'"
      [badge]="tab.total.toString()"
      (onClick)="handleChangeTab(tab.value)"
      *ngFor="let tab of statusTab"
      [label]="tab.label"
    >
    </p-button>
  </div>

  <div class="flex items-center gap-3">
    <p-button label="Lọc" severity="secondary" (onClick)="handleShowFilter()">
      <span appSvgIcon="icons/filter.svg"></span>
    </p-button>
    <p-button label="Tạo mới" (onClick)="showDialog()">
      <span appSvgIcon="icons/plus.svg"></span>
    </p-button>
  </div>
</div>

<form
  class="mb-4 py-6 px-8 bg-white rounded-b-lg border-t border-t-brand-700 grid grid-cols-5 items-end gap-2"
  *ngIf="showFilter"
  [formGroup]="filterForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-2 col-span-2">
    <label for="username" class="text-sm">Từ khóa</label>
    <input
      pInputText
      id="username"
      placeholder="Nhập từ khóa ..."
      formControlName="q"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="username" class="text-sm">Ưu tiên</label>
    <p-select
      placeholder="Chọn ưu tiên"
      [options]="priorityOptions"
      optionLabel="name"
      showClear
      formControlName="priority"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="username" class="text-sm">Dự án</label>
    <p-select
      placeholder="Chọn dự án"
      [options]="projectOptions"
      optionLabel="name"
      showClear
      (onFilter)="filterProjects($event)"
      [filter]="true"
      [loading]="projectService.loading()"
      formControlName="projectId"
    />
  </div>
  <p-button
    label="Tìm kiếm"
    styleClass="w-full"
    type="submit"
    [loading]="taskService.loading()"
  />
</form>

<div #myElement>
  <div class="table-container" [style.width.px]="elementWidth">
    <p-table
      [columns]="columns"
      [value]="$taskData"
      [loading]="taskService.loading()"
      [scrollable]="true"
      scrollHeight="400px"
    >
      <ng-template #emptymessage>
        <tr>
          <td [colSpan]="columns.length" class="text-center">
            <i class="pi pi-times-circle text-2xl text-red-500"></i>
            <p class="mt-2">Không có dữ liệu</p>
          </td>
        </tr>
      </ng-template>

      <ng-template #header>
        <tr>
          <th *ngFor="let col of columns">
            {{ col }}
          </th>
        </tr>
      </ng-template>

      <ng-template #body let-data>
        <tr>
          <td>{{ data?.name }}</td>
          <td>{{ data?.project?.name }}</td>
          <td>
            <span *ngFor="let assignee of data?.assignees">
              <p-avatar
                [label]="assigneeName(assignee?.firstName, assignee?.lastName)"
                styleClass="mr-2"
                shape="circle"
              />
            </span>
          </td>
          <td>{{ getStatusLabel(data?.status) }}</td>
          <td>{{ data?.progress }}%</td>
          <td>{{ getPriorityLabel(data?.priority) }}</td>
          <td>{{ data?.startEstimateTime | date : "HH:mm dd/MM/YYYY" }}</td>
          <td>{{ data?.endEstimateTime | date : "HH:mm dd/MM/YYYY" }}</td>
          <td>
            <app-row-action
              (onEdit)="showDialog(data?.id)"
              (onDelete)="confirm($event, data?.id)"
            ></app-row-action>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      *ngIf="$taskMeta"
      (onPageChange)="onPageChange($event)"
      [rows]="$taskMeta.take"
      [totalRecords]="$taskMeta.itemCount"
      [first]="($taskMeta.page - 1) * $taskMeta.take"
    />
  </div>
</div>

<p-dialog
  [header]="taskId ? 'Sửa công việc' : 'Tạo công việc'"
  [(visible)]="visible"
  [modal]="true"
  styleClass="w-[924px]"
>
  <app-create-task
    (closeModal)="visible = false"
    *ngIf="visible"
    [taskId]="taskId"
  ></app-create-task>
</p-dialog>

<p-confirmdialog />
